#!/bin/bash

eval "$(<BINDIR>/json_to_command $1)"

# log the action
today=`date +"%Y-%m-%d"`
echo "$today $USER activate_venv  $1" >> <LOGDIR>/venv.log

echo "When deactivating this environment, remember to run deactivate first:"
echo "$ deactivate"
echo ""
echo "And then purge modules AFTERWARDS (if desired)"
echo "$ ml purge"
echo ""
echo "Otherwise, there may be undefined behavior"
